/* Fixalize CSS -> Personal mix of Normalize.css and Remedy.css */

*, *::before, *::after { 
  /* Use border-box by default, globally. */
  box-sizing: border-box; 
}

html {
  /* Correct the line height in all browsers. */
  line-height: 1.5;
  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
}

body {
  /* Remove the margin in all browsers. */
  margin: 0;
  /* forces body to take full window height */
  min-height: 100vh;
  /* system ui font family */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


main {
  /* Render the `main` element consistently in IE. */
  display: block;
}

/* Switch to rem units for headings */
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.00rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }

/* Keep h1 margins consistent, even when nested */
h1 { margin: 0.67em 0; }

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

hr {
  /* Solid, thin horizontal rules */
  border-style: solid;
  border-width: 1px 0 0 0;
  height: 0;
  /* Remove Firefox `color: gray` */
  color: inherit;
  /* Show the overflow in Edge and IE. */
  overflow: visible;
}

pre {
  /* Correct the inheritance and scaling of font size in all browsers. */
  font-family: monospace, monospace;
  /* Correct the odd `em` font sizing in all browsers. */
  font-size: 1em;
  /* Overflow by default is bad */
  white-space: pre-wrap;
}

a {
  /* Remove the gray background on active links in IE 10. */
  background-color: transparent;
  /* Add cursor */
  cursor: pointer;
  /* Override color */
  color: #005cd8;
}

:visited {
  color: #005cd8;
}

abbr[title] {
  /* Remove the bottom border in Chrome 57- */
  border-bottom: none;
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  /* Add the correct font weight in Chrome, Edge, and Safari. */
  font-weight: bolder;
}

code, kbd, samp {
  /* Correct the inheritance and scaling of font size in all browsers. */
  font-family: monospace, monospace; 
  /* Correct the odd `em` font sizing in all browsers. */
  font-size: 1em;
}

small {
  /* Correct the small font size in all browsers. */
  font-size: 80%;
}

sub, sup {
  /* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

img, svg, video, canvas, audio, iframe, embed, object {
  /* Block display is usually what we want; Remove strange space-below when inline; Responsive by default */
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

img, svg, video, canvas {
  /* Maintain intrinsic aspect ratios when `max-width` is applied (iframe, embed, and object have no intrinsic ratio, set height explicitly) */
  height: auto;
}

img {
  /* Remove the border on images inside links in IE 10. */
  border-style: none;
}

svg {
  /* Hide the overflow in IE 10 and earlier */
  overflow: hidden;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  /* Default block display on HTML5 elements */
  display: block;
}

button, input, optgroup, select, textarea {
  /* Change the font styles in all browsers. */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  /* Remove the margin in Firefox and Safari. */
  margin: 0;
}

button, input, optgroup, select, textarea {
  /* Override default border style, width and color; color cannot be inherit or it will break box-shadow in safari */
  border: 1px solid black;
  /* Override select multiple border radius */
  border-radius: 0;
}

button:disabled, input:disabled, optgroup:disabled, select:disabled, textarea:disabled {
  /* Change the font styles in all browsers. */
  opacity: 0.6;
  border: 1px solid #bbb;
  cursor: default;
}

 a:hover, a:focus, a:focus-visible {
  /* Override focus styles */
  /* outline: solid 2px #005cd8; */
  outline: none;
  /* box-shadow: 0 0 0 2px rgba(0,0,0,0.25); */
  text-decoration: none;
 } 

 button:focus, button:focus-visible,
 [type="button"]:focus [type="button"]:focus-visible,
 [type="reset"]:focus [type="reset"]:focus-visible,
 [type="submit"]:focus [type="submit"]:focus-visible,
 input:focus, input:focus-visible,
 select:focus, select:focus-visible,
 textarea:focus, textarea:focus-visible {
  /* Override focus styles */
  /* box-shadow: 0 0 0 1px white, 0 0 0 3px #005cd8; */
  /* border: solid 1px #005cd8; */
  /* outline: solid 1px #005cd8; */
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
}

button, input {
  /* Show the overflow in IE & Edge */
  overflow: visible;
}

button, select {
  /* Remove the inheritance of text transform in Firefox, Edge & IE. */
  text-transform: none;
}

select {
  background: none;
  /* add cursor */
  cursor: pointer;
}

select[multiple] {
  /* investigate further if needed */
  /* padding-right: 12px; */
}

button, [type="button"], [type="reset"], [type="submit"] {
  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;
  /* forces cursor to be a pointer on buttons */
  cursor: pointer;
  /* Override background default */
  background: #f2f2f2;
}

button:hover:not(:disabled),
[type="button"]:hover:not(:disabled),
[type="reset"]:hover:not(:disabled),
[type="submit"]:hover:not(:disabled) {
  /* Add hover style */
  background: white;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  /* Remove the inner border and padding in Firefox. */
  border-style: none;
  padding: 0;
}

fieldset {
  /* Correct the padding in Firefox. */
  padding: 0.35em 0.75em 0.625em;
}

legend {
  /* Correct the text wrapping in Edge and IE. */
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  /* Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
  padding: 0;
  /* Correct the color inheritance from `fieldset` elements in IE. */
  color: inherit;
}

label {
  cursor: pointer;
}

progress {
  /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
  vertical-align: baseline;
}

textarea {
  /* Remove the default vertical scrollbar in IE 10+. */
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  /* Add the correct box sizing in IE 10. */
  box-sizing: border-box;
  /* Remove the padding in IE 10. */
  padding: 0;
  /* add cursor */
  cursor: pointer;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  /* Correct the cursor style of increment and decrement buttons in Chrome. */
  height: auto;
}

::-webkit-input-placeholder {
  /* Correct the text style of placeholders in Chrome, Edge, and Safari. */
  color: inherit;
  opacity: 0.54;
}

[type="search"] {
  /* Correct the odd appearance in Chrome and Safari. */
  -webkit-appearance: textfield;
  /* Correct the outline style in Safari. */
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  /* Remove the inner padding in Chrome and Safari on macOS. */
  -webkit-appearance: none;
}

[type="file"], [type="file"]:focus {
  /* Remove border for file input */
  border: none;
  outline: none;
  /* Add cursor */
  cursor: pointer;
}

[type="file"]::-webkit-file-upload-button,
[type="file"]::file-selector-button {
  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;
  /* Change font properties to `inherit` in Safari. */
  font: inherit;
  /* Override default border style inset, width and color */
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  /* Override background default */
  background: #f2f2f2;
  /* Add cursor */
  cursor: pointer;
}

[type="file"]::-webkit-file-upload-button:hover:not(:disabled),
[type="file"]::file-selector-button:hover:not(:disabled) {
  /* Override background on hover */
  background: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td, table tr th{
  border-bottom: solid 1px #ddd;
  padding: 0.25em 0.5em;
}

table tr th {
  border-width: 2px;
  text-align: start;
}

details {
  /* Add the correct display in Edge, IE 10+, and Firefox. */
  display: block;
}

summary {
  /* Add the correct display in all browsers. */
  display: list-item;
}

template {
  /* Add the correct display in IE 10+. */
  display: none;
}

[hidden] {
  /* Add the correct display in IE 10. */
  display: none;
}
